body{
    background-color: rgb(44, 43, 43);
}

.btn{
    --width: 150px;
    color: aliceblue;
    background-color: blueviolet;
    width: var(--width);
    height: calc(var(--width) / 2);
    cursor: pointer;
}

.container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-self:center;
    gap: 50px;
    margin-top: 50px;
}

.book-card{
    font-size: 22px;
    font-weight: bold;
    background-color: blueviolet;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
}

.titleDL{
    background-color: green;
}

.book-card>div{
    padding: 10px;
}

dialog {
    display: none;
    padding-top: 0;
     overflow: hidden;
}

dialog:modal {
    display: flex; 
    width: 30vh;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.book-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
input:not(.checkbox) {  
    width: 200px;
    height: 40px;  /* Increased height */
    font-size: 16px;  /* Optional: bigger text */
}

.submit{
    background-color:blueviolet;
    color: white;  
    padding: 10px 20px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    margin-top: 20px;
}

.checkbox{
margin: 0;
cursor: pointer; 
}

.read {
    display: flex;
    align-items: center;
    gap:5px
}

.pagesDL{
    margin-bottom: 30px;
}

.readDL{
    border: 0;
    background-color: blue;
    width: 85px;
    height: 30px;
   margin-left: 30px;
   margin-right: 10px;
   color: white;

}
.deleteBook{
    border: 0;
    background-color: red;
    width: 85px;
    height: 30px;
   margin-left: 10px;
   margin-right: 30px;
   color: white;
}

